 <div class="box">
  <h2 class="title is-4 has-text-base"> About Naming your Life </h2>
  <span>
    This project was build by me <a href="https://www.linkedin.com/in/wanjing-han-5018281b9/" target='_blank'>Wanjing Han</a>.
    The goal of this project is to create a virtual community where users only focus on a specific topic: naming. A single well-developed application encourages users to share their stories through social platforms. 
    </a>
  </span>
</div>
